//
//.box-arrow-top {
//  position: relative;
//  background: #fff;
//  border: 1px solid $color-to-box-arrow-border;
//  padding: 16px;
//}
//.box-arrow-top:after, .box-arrow-top-top:before {
//  bottom: 100%;
//  left: 50%;
//  border: solid transparent;
//  content: " ";
//  height: 0;
//  width: 0;
//  position: absolute;
//  pointer-events: none;
//}
//
//.box-arrow-top:after {
//  border-color: rgba(255, 255, 255, 0);
//  border-bottom-color: #fff;
//  border-width: 16px;
//  margin-left: -16px;
//}
//.box-arrow-top:before {
//  border-color: rgba(191, 191, 191, 0);
//  border-bottom-color: #BFBFBF;
//  border-width: 17px;
//  margin-left: -17px;
//}
//
//.arrow_box {
//  position: relative;
//  background: #fff;
//  border: 1px solid #BFBFBF;
//}
//.arrow_box:after, .arrow_box:before {
//  bottom: 100%;
//  left: 50%;
//  border: solid transparent;
//  content: " ";
//  height: 0;
//  width: 0;
//  position: absolute;
//  pointer-events: none;
//}
//
//.arrow_box:after {
//  border-color: rgba(255, 255, 255, 0);
//  border-bottom-color: #fff;
//  border-width: 16px;
//  margin-left: -16px;
//}
//.arrow_box:before {
//  border-color: rgba(191, 191, 191, 0);
//  border-bottom-color: #BFBFBF;
//  border-width: 17px;
//  margin-left: -17px;
//}



.arrow_box_top {
  position: relative;
  background: #eee;
  border: 1px solid #999;
}
.arrow_box_top:after, .arrow_box_top:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_top:after {
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #eee;
  border-width: 12px;
  margin-left: -12px;
}
.arrow_box_top:before {
  border-color: rgba(153, 153, 153, 0);
  border-bottom-color: #999;
  border-width: 13px;
  margin-left: -13px;
}