.priority-icon {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #BFBFBF;
  background-color: #BFBFBF;
}
.bg-green {
  background: $color-to-priority-1;
  background-color: $color-to-priority-1;
}
.bg-yellow {
  background: #efba00;
  background-color: #efba00;
}
.bg-red {
  background: #b41e0a !important;
  background-color: #b41e0a !important;
}

.text-green {
  color: $color-to-priority-1;
}
.text-yellow {
  color:  #efba00;
}
//.text-red {
//  color: #b41e0a;
//}

.text-red {
  color: #f44336;
}
